<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless this.sleepy}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>

        {{> cats/delete-cat}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if this.sleepy}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="false">
          <button type="submit">WAKE UP!</button>
        </form>

        {{> cats/delete-cat}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
