<form action="/{{this.id}}?_method=DELETE" method="POST">
  <!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
  <!-- <input type="hidden" name="id" value="{{this.id}}"> -->
  <button type="submit">DELETE!</button>
</form>
